.container {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 16px 3px rgba(245, 222, 179, 0.799);
}

.tab-box {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.login-tab, .signup-tab {
    color: wheat;
    border: none;
    padding: 10px 159px;
    cursor: pointer;
    font-size: 19px;
}

.login-tab:hover, .signup-tab:hover {
    box-shadow: 0 1px ;
    border-bottom: 2px solid wheat;
    background-color: rgba(255, 255, 255, 0.032);
}

.signup-window {
    display: none;
}

.login-window {
    display: flex;
}

.login-window, .signup-window {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.inputs {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.submit-btn {
    background-color: wheat;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgba(245, 222, 179, 0.934);
}
